.vue-form {
  max-width: 100%;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 100px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  position: relative;

  fieldset {
    border: none;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 30px;
    border: 0;
  }

  .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 14px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
  }

  input[type="text"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="search"],
  input[type="url"],
  textarea,
  select {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 15px;
  }

  .btn-group {
    display: flex;
  }

  .add-btn {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #fff;
    background: #1abc9c;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 30%;
    margin-left: auto;

    &:hover {
      background: #18b192;
    }
  }

  .next-btn {
    margin-left: auto;
  }

  .next-btn,
  .prev-btn {
    border: 0;
    background: transparent;
    font-size: 21px;
    background: transparent;
    display: block;

    i {
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-top: 7px solid;
      border-right: 7px solid;
      margin: 15px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      color: #1abc9c;
      box-sizing: border-box;
    }

    .icon-arrow-left {
      transform: rotate(45deg);
    }

    .icon-arrow-right {
      transform: rotate(227deg);
    }

    &:hover {
      color: #000;

      .icon-arrow-left {
        color: #000;
      }
    }

    &:focus {
      outline: none;
      border: 0;
    }
  }
}



table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
}

th,
td {
  text-align: left;
  padding: 8px;
  width: 20%;
}

tr:nth-child(even) {
  background-color: #e8eeef;
}


.form-group {
  position: relative;
  padding-bottom: 15px;
}

.error-message {
  color: rgb(233, 89, 89);
  position: absolute;
  bottom: 0;
}